<div class="container col-md-8 mb-0" id="top-container">
    <div id="top-left">
        <h1>Burger Time!! <i class="fas fa-hamburger"></i></h1>
    </div>
    <div id="top-right">
        <form class="create-form form-inline" id="submit-form">
            <div class="form-group">
                <input type="text" name="burgerInput" id="userInput" placeholder="Enter Burger">

                <button class = "btn btn-primary"type="submit" id="submitBtn">Add Burger</button>
            </div>
        </form>
    </div>
    <div class="container" id = "para">
    <p>Create your own wishlist of all the burgers you want to try!!</p>
</div>
</div>


<div class="container col-md-8 mt-0" id="main">
    <div class="col-md-6 col-xs-12" id="uneaten">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Burgers To Try:</th>

                </tr>
            </thead>
            <tbody>
                {{#each burgers}}
                {{#unless devoured}}
                <tr>
                    <td>{{id}}. {{burger_name}}</td>
                    <td>
                        <form><button class=" btn devourBtn" data-id="{{this.id}}">Ate It!!</button></form>
                    </td>
                </tr>
                {{/unless}}
                {{/each}}
            </tbody>
        </table>
    </div>



    <div class="col-lg-6 col-xs-12" id="eaten">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Burgers I've tried:</th>
                </tr>
            </thead>
            <tbody>
                {{#each burgers}}
                {{#if devoured}}
                <tr>
                    <td>{{burger_name}} <span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span></td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>